mat-sidenav-container {
  margin-right: -8px;
  margin-left: -8px;
  mat-sidenav {
    width: 300px;
    button {
      min-width: 80px !important;
    }
  }
  mat-sidenav-content {
    height: 93.5vh;
    background-color: rgb(48, 48, 48);
  }
}
