<nav class="navbar navbar-inverse" style="border-radius: unset">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" [routerLink]="['/cars-gallery']">Car Gallery</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" appDropdown>
        <a
          style="cursor: pointer"
          class="dropdown-toggle"
          data-toggle="dropdown"
          >Storage<span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a style="cursor: pointer" (click)="onSaveData()">Save Data</a>
          </li>
          <li>
            <a style="cursor: pointer" (click)="onFetchData()">Fetch Data</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#"><span class="glyphicon glyphicon-log-out"></span>Log out</a>
      </li>
    </ul>
  </div>
</nav>
