<div class="row" [@slideItem]>
  <div class="col-xs-12">
    <form [formGroup]="carForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!carForm.valid"
          >
            Save
          </button>
          |
          <button class="btn btn-danger" type="button" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image Url</label>
            <input
              type="text"
              class="form-control"
              formControlName="imagePath"
              #imagePath
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img
            [src]="imagePath.value"
            class="img-responsive center-block"
            style="max-height: 220px"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="year">Production Year</label>
            <input type="number" class="form-control" formControlName="year" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="model">Model</label>
            <input type="text" class="form-control" formControlName="model" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="color">Color</label>
            <input type="text" class="form-control" formControlName="color" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="horsePower">Engine Horse Power</label>
            <input
              type="number"
              class="form-control"
              formControlName="horsePower"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="cylinder">Engine Cylinder</label>
            <input
              type="number"
              class="form-control"
              formControlName="cylinder"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
