<div class="backdrop" (click)="onCloseElement()">
  <div class="element-box-1">
    <div class="container">
      <div class="record">
        <div class="col-1">
          <div id="content"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="record">
      <div class="col-1">
        <div class="element-box-2">
          <h1>Rendered HTML</h1>
          <h3>Click any where to close</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <h1 style="color: red;">I love Angular elements</h1> -->
