/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine-dark.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "../src/app/styles/dark-theme.css";
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // background-color: rgb(48, 48, 48);
}
.card-dark {
  background-color: rgb(66, 66, 66);
  padding: 20px;
  margin: 30px;
  margin-left: 45px;
  // margin-right: 10px;
  border-radius: 12px !important;
  mat-card-title {
    color: white;
  }
}
.card-light {
  background-color: white;
  padding: 20px;
  margin: 30px;
  margin-left: 45px;
  // margin-right: 40px;
  // width: 982px;
  border-radius: 12px !important;
  mat-card-title {
    color: black;
  }
}
